<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405936423555-8doe9avmpu1dr7ojjfbeiffils8roc1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405936423555-8doe9avmpu1dr7ojjfbeiffils8roc1g</string>
	<key>API_KEY</key>
	<string>AIzaSyB8f0W2dPs1tywgWnDeA0rl6onorCM8N48</string>
	<key>GCM_SENDER_ID</key>
	<string>405936423555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pec.solarPanelCleaningBot</string>
	<key>PROJECT_ID</key>
	<string>solar-panel-cleaning-bot</string>
	<key>STORAGE_BUCKET</key>
	<string>solar-panel-cleaning-bot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405936423555:ios:405ac7001a22aa9367d1b6</string>
	<key>DATABASE_URL</key>
	<string>https://solar-panel-cleaning-bot-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>